.green1 {
    display: inline-block;
    height: 25px;
    line-height: 25px;
    text-align: center;
    font-weight: 700;
    width: 92px;
    color: #fff;
    background: #36b24a;

}

.green2 {
    display: inline-block;
    height: 25px;
    line-height: 25px;
    text-align: center;
    font-weight: 700;
    width: 63px;
    color: #fff;
    background: #36b24a;

}

.green3 {
    display: inline-block;
    height: 25px;
    line-height: 25px;
    text-align: center;
    font-weight: 700;
    width: 80px;
    color: #fff;
    background: #36b24a;

}

.green4 {
    display: inline-block;
    height: 25px;
    line-height: 25px;
    text-align: center;
    font-weight: 700;
    width: 68px;
    color: #fff;
    background: #36b24a;

}

.green5 {
    display: inline-block;
    height: 25px;
    line-height: 25px;
    text-align: center;
    font-weight: 700;
    width: 90px;
    color: #fff;
    background: #36b24a;

}

.pic1 {
    width: 105px;
    height: 105px;
    position: absolute;
    top: -24px;
    right: -7px;
    background: url(../activityimg/b2.png) no-repeat -719px -365px;
    opacity: .2;
    z-index: -1;

}

.pic2 {
    width: 105px;
    height: 105px;
    position: absolute;
    top: -16px;
    right: -1px;
    background: url(../activityimg/b1.png) no-repeat;
    opacity: .2;
    z-index: -1;

}

.pic3 {
    width: 105px;
    height: 105px;
    position: absolute;
    top: -16px;
    right: -10px;
    background: url(../activityimg/b4.png) no-repeat;
    background-size: 90%;
    opacity: .3;
    z-index: -1;

}

.pic4 {
    width: 108px;
    height: 106px;
    position: absolute;
    top: -16px;
    right: -10px;
    background: url(../activityimg/b2.png) no-repeat -1191px -126px;
    opacity: .3;
    z-index: 3;

}

.pic5 {
    width: 120px;
    height: 100px;
    position: absolute;
    top: -17px;
    right: -16px;
    background: url(../activityimg/b8.jpg) no-repeat;
    opacity: .3;
    z-index: 3;

}

.pic6 {
    width: 120px;
    height: 100px;
    position: absolute;
    top: -17px;
    right: -16px;
    background: url(../activityimg/b3.jpg) no-repeat;
    opacity: .3;
    z-index: 3;

}

.pic7 {
    width: 120px;
    height: 100px;
    position: absolute;
    top: -17px;
    right: -16px;
    background: url(../activityimg/b5.jpg) no-repeat;
    opacity: .3;
    z-index: 3;

}

.pic8 {
    width: 108px;
    height: 106px;
    position: absolute;
    top: -23px;
    right: -4px;
    background: url(../activityimg/b2.png) no-repeat -980px -129px;
    opacity: .2;
    z-index: 3;

}

.pic9 {
    width: 200px;
    height: 200px;
    position: absolute;
    top: -17px;
    right: -89px;
    background: url(../activityimg/b6.png) no-repeat;
    background-size: 58%;
    opacity: .2;
    z-index: 3;

}

.pic10 {
    width: 108px;
    height: 106px;
    position: absolute;
    top: -23px;
    right: -4px;
    background: url(../activityimg/b2.png) no-repeat -1151px -692px;
    opacity: .2;
    z-index: 3;

}

.orange {
    color: #ff7c31
}

.orange2 {
    color: #f05632;
}

.blue {
    color: #00cceb;
}

.gray {
    color: #777f84;
}

h4 {
    font-size: 18px;
    font-weight: normal;
}

.dis {
    padding-bottom: 13px;
}

.dis1 {
    padding-bottom: 44px;
}

.kuangA {
    margin: 30px 30px;
}

.kuangB {
    margin: 30px 0;
}

.kuangC {
    margin: 0 30px;
}

.red {
    color: #ff0000;
}

.red1 {
    color: #ff0000;
    font-size: 17px;
}

.num {
    font-size: 17px;
    color: #f05632;
    font-weight: 700;

}

.redc {
    color: #e53333;
    font-weight: 700;
}

/* 大赛 */
/* 大赛h2 */
.bigname {
    float: left;
    height: 30px;
    line-height: 30px;
    font-weight: 400;
    font-size: 26px;
    color: #373d45;
    border-left: 2px solid #00a2ca;
    padding-left: 10px;
}

/* 大赛更多 */
.knowmore {
    float: right;
    color: #33c7e6;
}

/* 段落 */
.juli {
    color: #373d45;
    padding: 20px 0;
}

.juli2 {
    color: #373d45;
    padding-top: 30px;
}

.juli3 {
    padding: 122px 0 126px 0;

}

/* 大赛种类 */
.gamekind {
    border: 1px solid #eee;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background-color: #f7f8fa;
    width: 120px;
    color: #373d45;
}

.gamekind:hover {
    border-left: 2px solid #33c7e6;
    color: #33c7e6;
    background-color: #fff;
}

.gametable {
    width: 1040px;
}

.gameth {
    height: 48px;
    line-height: 48px;
    background-color: #f7f8fa;
    /* display: inline-block; */
    border-bottom: 2px solid #eee;



}

.gameth th {
    font-weight: 400;
    padding-left: 10px;
}

/* 距离 */
.th1 {
    width: 320px;
}

.th2 {
    width: 120px;
}

.th3 {
    width: 250px;
}

.th4 {
    width: 200px;
}

/* 内容 */
.td1 {
    padding-left: 10px;
}

/* tr样式距离底边框 */
.tr1 {
    height: 68px;
    border-bottom: 1px solid #eee;

}

/* 灰色 12号字体 */
.td2 {
    color: #373d41;
    font-size: 12px;
}

/* 截止时间样式 */
.td3 {
    color: #26c800;
    font-size: 12px;
}

/* 总奖池 */
.td4 {
    color: #fd5f00;
    font-size: 12px;
}

/* 报名样式 */
.td5 {
    color: #33c7e6;
    font-size: 12px;
}

/* 线下沙龙 */
/* 内容整个盒子样式 */
.shalong {
    height: 270px;
    width: 282px;
    background-color: #ebf2f9;
    position: relative;
}

/* 合理里面的内盒子 */
.shalong1 {
    padding: 30px 36px 30px 30px;
    overflow: hidden;

}

/* 标题样式 */
.shah3 {
    color: #333;
    font-size: 20px;
    font-weight: 400;
}

/* 段落样式 */
.shap {
    color: #666;
    font-size: 12px;
}

.shap2 {
    color: #666;
    font-size: 12px;
    position: absolute;
    bottom: 75px;
}

/* 在线直播
中间p 样式 */
.shap3 {
    color: #666;
    font-size: 12px;
    position: absolute;
    bottom: 90px;
}

/* 沙龙立即报名 */
.shatime {
    color: #fff;
    height: 36px;
    line-height: 36px;
    text-align: center;
    width: 136px;
    background-color: #00c1de;
    position: absolute;
    bottom: 30px;

}

/* 沙龙整体布局距离 一行四个盒子 ？*/
.shalongbuju>li {
    width: 23%;
    float: left;
    margin: 0 24px 24px 0;
    /* overflow: hidden; */
    box-sizing: border-box;
}

.yxbj {
    position: absolute;
    top: 0;
    left: 0;
    width: 298px;
    height: 300px;
    opacity: .8
}
.yxbj1{
    background:#1440a5;
}
.yxbj2{
    background:#1e8a5d;
}
.yxbj3{
    background:#4488a6;
}
.yxbj4{
    background:#3d2676;
}
.yxbj:hover{
    background: #000;
    opacity: .8;
}

.yxzt {
    position: absolute;
    display: block;
    background: url(../activityimg/zt.png) no-repeat;
    width: 72px;
    height: 72px;
    left: 50%;
    top: 50%;
    margin-left: -36px;
    margin-top: -36px;
    z-index: 2;

}

/* diaoyonghezi */
.hezi {

    margin-left: 30px;
    margin-bottom: 30px;
}