.dynamic_header {
  width: 100%;
  height: 120px;
  background-color: #000;
  /* 网页头部导航  */
}
.dynamic_header .head-nav {
  width: 100%;
  height: 100px;
  position: absolute;
  top: 0;
  z-index: 2;
  background: rgba(0, 0, 0, 0.2);
  /* 头部一级导航 */
  /* 头部二级导航 */
}
.dynamic_header .head-nav .head-nav-one {
  width: 100%;
  line-height: 50px;
  box-sizing: border-box;
}
.dynamic_header .head-nav .head-nav-one .headNavOne-left {
  width: 30%;
  height: 50px;
  /* 左上角侧边栏 */
}
.dynamic_header .head-nav .head-nav-one .headNavOne-left .img {
  position: relative;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-right: 1px solid grey;
  /* 左上角侧边栏效果 */
}
.dynamic_header .head-nav .head-nav-one .headNavOne-left .img img {
  width: 25px;
  height: 20px;
  display: inline-block;
}
.dynamic_header .head-nav .head-nav-one .headNavOne-left .img .headSidebar {
  position: absolute;
  left: -200px;
  width: 200px;
  height: 600px;
  background-color: #272b2e;
}
.dynamic_header .head-nav .head-nav-one .headNavOne-left .img .headSidebar ul {
  width: 100%;
  padding: 20px 20px 0px 15px;
  box-sizing: border-box;
}
.dynamic_header .head-nav .head-nav-one .headNavOne-left .img .headSidebar ul li {
  width: 100%;
  height: 40px;
  line-height: 30px;
}
.dynamic_header .head-nav .head-nav-one .headNavOne-left .img .headSidebar ul li a {
  color: #fff;
}
.dynamic_header .head-nav .head-nav-one .headNavOne-left .img .headSidebar ul li:hover a {
  color: #00c1de;
}
.dynamic_header .head-nav .head-nav-one .headNavOne-left .img .headSidebar ul .liLine {
  width: 90%;
  height: 1px;
  margin: 5px auto;
  background-color: #535252;
}
.dynamic_header .head-nav .head-nav-one .headNavOne-left .img .headSidebar .sidebarBottom {
  width: 100%;
  padding-left: -10px;
}
.dynamic_header .head-nav .head-nav-one .headNavOne-left .img .taxonsUl {
  display: none;
  position: absolute;
  left: 200px;
  top: 50px;
  width: 890px;
  height: 600px;
  background: #272B2E;
  border-left: 1px solid #393c3f;
}
.dynamic_header .head-nav .head-nav-one .headNavOne-left .img .taxonsUl img {
  width: 100%;
  height: 100%;
}
.dynamic_header .head-nav .head-nav-one .headNavOne-left .img .taxonsUl1 {
  display: none;
  position: absolute;
  left: 200px;
  top: 50px;
  width: 200px;
  height: 600px;
  padding: 10px 20px;
  box-sizing: border-box;
  background: #272B2E;
  border-left: 1px solid #393c3f;
}
.dynamic_header .head-nav .head-nav-one .headNavOne-left .img .taxonsUl1 a {
  color: #fff;
}
.dynamic_header .head-nav .head-nav-one .headNavOne-left .img .taxonsUl1 li:hover a {
  color: #00c1de;
}
.dynamic_header .head-nav .head-nav-one .headNavOne-left .img .taxonsUlFind {
  position: absolute;
  left: 400px;
  top: 50px;
}
.dynamic_header .head-nav .head-nav-one .headNavOne-left .img .taxonsUlFind .taxonsUlFindItem {
  display: none;
  float: left;
  width: 100%;
  height: 100%;
}
.dynamic_header .head-nav .head-nav-one .headNavOne-left .img .taxonsUlFind .taxonsUlFindItem img {
  width: 100%;
  height: 100%;
}
.dynamic_header .head-nav .head-nav-one .headNavOne-left .img:hover {
  background: #00c1de;
}
.dynamic_header .head-nav .head-nav-one .headNavOne-left .logo {
  width: 120px;
  height: 50px;
  margin-left: 10px;
  background: url('../images/logo.gif') no-repeat;
  background-size: 100px 50px;
}
.dynamic_header .head-nav .head-nav-one .headNavOne-left .logo img {
  width: 100px;
  height: 22px;
}
.dynamic_header .head-nav .head-nav-one .headNavOne-right {
  width: 60%;
  padding-left: 50px;
  font-size: 14px;
  color: #fff;
  box-sizing: border-box;
}
.dynamic_header .head-nav .head-nav-one .headNavOne-right .headSearch {
  height: 50px;
  position: relative;
}
.dynamic_header .head-nav .head-nav-one .headNavOne-right .headSearch input {
  width: 200px;
  height: 100%;
  padding: 0 0 0 5px;
  margin-right: 10px;
  background: #4e4e4e;
  opacity: .5;
  box-sizing: border-box;
}
.dynamic_header .head-nav .head-nav-one .headNavOne-right .headSearch input[placeholder="物联网"] {
  color: #fff;
}
.dynamic_header .head-nav .head-nav-one .headNavOne-right .headSearch #divs {
  width: 0;
  height: 0;
  position: absolute;
  right: 20px;
  top: 0px;
}
.dynamic_header .head-nav .head-nav-one .headNavOne-right .headSearch span {
  position: absolute;
  right: 20px;
  top: 0px;
}
.dynamic_header .head-nav .head-nav-one .headNavOne-right .China {
  position: relative;
  /* 显示隐藏栏 */
}
.dynamic_header .head-nav .head-nav-one .headNavOne-right .China .language {
  padding: 2px 10px 0 12px;
  cursor: pointer;
}
.dynamic_header .head-nav .head-nav-one .headNavOne-right .China .language-bot {
  position: absolute;
  top: 50px;
  right: 250px;
  width: 250px;
  height: 550px;
  padding: 10px;
  box-sizing: border-box;
  background-color: #222529;
}
.dynamic_header .head-nav .head-nav-one .headNavOne-right .China .language-bot .language-bot-ul {
  width: 100%;
  line-height: 36px;
}
.dynamic_header .head-nav .head-nav-one .headNavOne-right .China .language-bot .language-bot-ul li {
  width: 100%;
  box-sizing: border-box;
}
.dynamic_header .head-nav .head-nav-one .headNavOne-right .China .language-bot .language-bot-ul li a {
  display: block;
  width: 100%;
  color: #fff;
}
.dynamic_header .head-nav .head-nav-one .headNavOne-right .China .language-bot .language-bot-ul li a .span1 {
  padding-right: 20px;
}
.dynamic_header .head-nav .head-nav-one .headNavOne-right .China .language-bot .language-bot-ul li a .span2 {
  padding-right: 10px;
}
.dynamic_header .head-nav .head-nav-one .headNavOne-right .China .language-bot .language-bot-ul li a:hover {
  color: #00c1de;
}
.dynamic_header .head-nav .head-nav-one .headNavOne-right .China .language-bot .language-bot-ul .transverseLine {
  width: 100%;
  height: 1px;
  margin: 5px 0;
  background-color: grey;
}
.dynamic_header .head-nav .head-nav-one .headNavOne-right .car {
  padding: 0 15px;
  cursor: pointer;
}
.dynamic_header .head-nav .head-nav-one .headNavOne-right .car i {
  font-size: 20px;
}
.dynamic_header .head-nav .head-nav-one .headNavOne-right ul {
  height: 50px;
  line-height: 57px;
}
.dynamic_header .head-nav .head-nav-one .headNavOne-right ul li {
  float: left;
  padding: 0 15px;
  cursor: pointer;
}
.dynamic_header .head-nav .head-nav-two {
  width: 100%;
  line-height: 50px;
  box-shadow: 0px 0px 0.3px 0.3px grey;
}
.dynamic_header .head-nav .head-nav-two ul {
  width: 55%;
  padding-left: 15px;
}
.dynamic_header .head-nav .head-nav-two ul li {
  float: left;
  padding: 0 15px;
  position: relative;
}
.dynamic_header .head-nav .head-nav-two ul li a {
  display: block;
  color: #fff;
}
.dynamic_header .head-nav .head-nav-two ul li a .triangle {
  font-size: 16px;
  position: absolute;
  bottom: -18px;
  left: 50%;
  transform: translate(-50%, 0%);
}
.dynamic_header .head-nav .head-nav-two ul li a:hover {
  color: #00c1de;
}
.dynamic_header .head-nav .head-nav-two ul li a:hover .triangle {
  color: #fff;
  display: block;
}
.dynamic_header .head-nav .head-nav-two .items {
  z-index: -2;
  position: absolute;
  top: 100px;
  left: 30px;
  width: 1100px;
  height: 590px;
}
.dynamic_header .head-nav .head-nav-two .items .items-ali {
  position: absolute;
  left: 0;
  top: 0;
  width: 1100px;
  height: 100%;
  background-color: #fff;
  box-shadow: 0px 0px 2px 0px grey;
  display: none;
}
.dynamic_header .head-nav .head-nav-two .items .items-ali .BigUl {
  width: 100%;
}
.dynamic_header .head-nav .head-nav-two .items .items-ali .BigUl .BigLi {
  width: 20%;
  color: #000;
  padding: 0px 0px;
}
.dynamic_header .head-nav .head-nav-two .items .items-ali .BigUl .BigLi .BigUl-title {
  width: 100%;
  padding-left: 15px;
}
.dynamic_header .head-nav .head-nav-two .items .items-ali .BigUl .BigLi ul {
  width: 100%;
}
.dynamic_header .head-nav .head-nav-two .items .items-ali .BigUl .BigLi ul li {
  width: 100%;
  height: 25px;
  font-size: 12px;
  line-height: 25px;
  padding: 0px 0px;
}
.dynamic_header .head-nav .head-nav-two .items .itemsAli {
  display: block;
  line-height: 30px;
  box-sizing: border-box;
  display: none;
}
.dynamic_header .head-nav .head-nav-two .items .itemsAli .BigUl {
  float: left;
  width: 20%;
  padding: 0;
}
.dynamic_header .head-nav .head-nav-two .items .itemsAli .BigUl .BigLi {
  width: 100%;
  height: 74px;
  line-height: 30px;
  color: #fff;
  background-color: #00b8db;
  padding-left: 20px;
  box-sizing: border-box;
  border-bottom: 1px solid #ccc;
}
.dynamic_header .head-nav .head-nav-two .items .itemsAli .BigUl .BigLi .BigUl-title {
  width: 100%;
  padding-left: 15px;
}
.dynamic_header .head-nav .head-nav-two .items .itemsAli .BigUl .BigLi span {
  display: block;
  width: 80%;
}
.dynamic_header .head-nav .head-nav-two .items .itemsAli .itemsAliRight {
  float: left;
  width: 80%;
  height: 100%;
  padding: 0 10px;
  box-sizing: border-box;
  overflow: scroll;
  overflow-x: hidden;
  position: relative;
}
.dynamic_header .head-nav .head-nav-two .items .itemsAli .itemsAliRight .itemsAli-right {
  position: absolute;
  top: 0;
  width: 100%;
  height: 650px;
}
.dynamic_header .head-nav .head-nav-two .items .itemsAli .itemsAliRight .itemsAli-right .sousuo {
  width: 100%;
  color: #000;
  margin-bottom: 20px;
}
.dynamic_header .head-nav .head-nav-two .items .itemsAli .itemsAliRight .itemsAli-right .sousuo span {
  display: block;
  width: 80%;
  height: 35px;
  line-height: 35px;
  padding-left: 20px;
  background-color: #f2f4f7;
}
.dynamic_header .head-nav .head-nav-two .items .itemsAli .itemsAliRight .itemsAli-right .lieb {
  width: 100%;
  padding-bottom: 20px;
}
.dynamic_header .head-nav .head-nav-two .items .itemsAli .itemsAliRight .itemsAli-right .lieb dl {
  float: left;
  width: 30%;
  font-size: 12px;
  padding: 0 10px;
}
.dynamic_header .head-nav .head-nav-two .items .itemsAli .itemsAliRight .itemsAli-right .lieb dl dd {
  color: #000;
}
.dynamic_header .head-nav .head-nav-two .items .itemsAli .itemsAliRight .itemsAli-right .itemsAliRight-bottom {
  width: 90%;
  height: 240px;
  margin: 0 auto;
  padding: 15px 25px;
  border: 1px solid #ccc;
  color: #000;
  box-sizing: border-box;
}
.dynamic_header .head-nav .head-nav-two .items .itemsAli .itemsAliRight .itemsAli-right .itemsAliRight-bottom h2 {
  padding-bottom: 10px;
}
.dynamic_header .head-nav .head-nav-two .items .itemsAli .itemsAliRight .itemsAli-right .itemsAliRight-bottom .btdiv {
  padding: 20px 0;
  color: #00c1de;
}
.dynamic_header .head-nav .head-nav-two .register {
  width: 120px;
  height: 50px;
  font-size: 14px;
  color: #fff;
  text-align: center;
  background: #00c1de;
}
/* 地图部分 */
.dynamic_map {
  width: 100%;
  height: 500px;
  background-color: #000;
}
.dynamic_map .warperr {
  width: 1200px;
  height: 500px;
  margin: 0 auto;
  background: #000 url(../images/Dynamic_map_img/dynamic_map.jpg) no-repeat top center;
}
.dynamic_map .warperr .dynamic_map_banner {
  position: relative;
  width: 100%;
  height: 500px;
}
/* 标题 盒子 */
.dynamic_map_title {
  position: absolute;
  width: 100%;
  height: 80px;
  top: 10px;
  left: 0px;
  text-align: center;
}
.dynamic_map_title h1 {
  font-weight: 400;
  font-size: 35px;
  height: 50px;
  color: #fff;
  text-align: center;
}
.dynamic_map_title p {
  font-size: 18px;
  color: #fff;
  text-align: center;
}
/* 定位 */
.map_area1 {
  top: 175px;
  left: 165px;
}
.map_area1 .txt {
  position: absolute;
  color: #fff;
  font-size: 16px;
  top: 40px;
  left: 0px;
}
.map_area2 {
  top: 190px;
  left: 300px;
}
.map_area2 .txt {
  position: absolute;
  width: 33px;
  height: 22px;
  color: #fff;
  font-size: 16px;
  top: 40px;
  left: 70px;
}
.map_area3 {
  top: 172px;
  left: 543px;
}
.map_area3 .txt {
  position: absolute;
  width: 33px;
  height: 22px;
  color: #fff;
  font-size: 16px;
  top: 40px;
  left: 70px;
}
.map_area4 {
  top: 250px;
  left: 680px;
}
.map_area4 .txt {
  position: absolute;
  width: 33px;
  height: 22px;
  color: #fff;
  font-size: 16px;
  top: 40px;
  left: 0px;
}
.map_area5 {
  top: 190px;
  right: 295px;
}
.map_area5 .txt {
  position: absolute;
  width: 33px;
  height: 22px;
  color: #fff;
  font-size: 16px;
  top: 40px;
  left: 0px;
}
.map_area6 {
  top: 240px;
  right: 280px;
}
.map_area6 .txt {
  position: absolute;
  width: 33px;
  height: 22px;
  color: #fff;
  font-size: 16px;
  top: 40px;
  left: 0px;
}
.map_area7 {
  top: 225px;
  right: 260px;
}
.map_area7 .txt {
  position: absolute;
  width: 33px;
  height: 22px;
  color: #fff;
  font-size: 16px;
  top: 40px;
  left: 70px;
}
.map_area8 {
  top: 220px;
  right: 200px;
}
.map_area8 .txt {
  position: absolute;
  width: 33px;
  height: 22px;
  color: #fff;
  font-size: 16px;
  top: 40px;
  left: 70px;
}
.map_area9 {
  top: 260px;
  right: 260px;
}
.map_area9 .txt {
  position: absolute;
  width: 33px;
  height: 22px;
  color: #fff;
  font-size: 16px;
  top: 40px;
  left: 70px;
}
.map_area10 {
  top: 300px;
  right: 310px;
}
.map_area10 .txt {
  position: absolute;
  width: 80px;
  height: 22px;
  color: #fff;
  font-size: 16px;
  top: 40px;
  left: 70px;
}
.map_area11 {
  top: 345px;
  right: 290px;
}
.map_area11 .txt {
  position: absolute;
  width: 60px;
  height: 22px;
  color: #fff;
  font-size: 16px;
  top: 40px;
  left: 70px;
}
.map_area12 {
  right: 165px;
  bottom: 5px;
}
.map_area12 .txt {
  position: absolute;
  width: 60px;
  height: 22px;
  color: #fff;
  font-size: 16px;
  top: 40px;
  left: 70px;
}
/* 动画 */
.region {
  position: absolute;
  width: 100px;
  height: 100px;
}
.region .dot {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #00c4e2;
  border: 1px solid #00c4e2;
  border-radius: 50%;
  top: 45px;
  left: 45px;
  z-index: 2;
}
.region .pulse {
  position: absolute;
  width: 20px;
  height: 20px;
  border: 1px solid #00c4e2;
  border-radius: 50%;
  top: 40px;
  left: 40px;
  z-index: 1;
  opacity: 0;
  animation: warn 2s ease-out;
  animation-iteration-count: infinite;
  /* background-color: yellow; */
  /* 阴影效果 */
}
.region .pulse1 {
  position: absolute;
  width: 20px;
  height: 20px;
  border: 1px solid #00c4e2;
  border-radius: 50%;
  top: 40px;
  left: 40px;
  z-index: 1;
  opacity: 0;
  animation: warn1 2s ease-out;
  animation-iteration-count: infinite;
  /* background-color: yellow; */
  /* 阴影效果 */
}
@keyframes warn {
  0% {
    transform: scale(1.2);
    opacity: 0.0;
  }
  25% {
    transform: scale(1.7);
    opacity: 0.5;
  }
  50% {
    transform: scale(2.2);
    opacity: 1;
  }
  75% {
    transform: scale(2.7);
    opacity: 0.5;
  }
  100% {
    transform: scale(3.2);
    opacity: 0.0;
  }
}
@keyframes warn1 {
  0% {
    transform: scale(0.6);
    opacity: 0.0;
  }
  25% {
    transform: scale(1);
    opacity: 0.7;
  }
  50% {
    transform: scale(1.2);
    opacity: 1;
  }
  75% {
    transform: scale(1.6);
    opacity: 0.7;
  }
  100% {
    transform: scale(1.8);
    opacity: 0.0;
  }
}
/* 光圈     美东 */
#ripple .pulse {
  animation: riw 2s ease-out;
  animation-iteration-count: infinite;
}
#ripple .pulse1 {
  animation: riw1 2s ease-out;
  animation-iteration-count: infinite;
}
@keyframes riw {
  0% {
    transform: scale(2);
    opacity: 0.0;
  }
  25% {
    transform: scale(2.5);
    opacity: 0.5;
  }
  50% {
    transform: scale(3);
    opacity: 1;
  }
  75% {
    transform: scale(3.5);
    opacity: 0.5;
  }
  100% {
    transform: scale(4);
    opacity: 0.0;
  }
}
@keyframes riw1 {
  0% {
    transform: scale(1);
    opacity: 0.0;
  }
  25% {
    transform: scale(1.5);
    opacity: 0.7;
  }
  50% {
    transform: scale(2);
    opacity: 1;
  }
  75% {
    transform: scale(2.5);
    opacity: 0.7;
  }
  100% {
    transform: scale(3);
    opacity: 0.0;
  }
}
/* 指向显示 */
.region a {
  position: relative;
  display: block;
  width: 430px;
  height: 160px;
}
.region a i {
  position: absolute;
  display: inline-block;
}
.region a .onei {
  width: 30px;
  height: 30px;
  border-top: 2px solid #00c4e2;
  border-left: 2px solid #00c4e2;
  top: -4px;
  left: -4px;
}
.region a .twoi {
  width: 30px;
  height: 30px;
  border-top: 2px solid #00c4e2;
  border-right: 2px solid #00c4e2;
  top: -4px;
  right: 76px;
}
.region a .threei {
  width: 30px;
  height: 30px;
  border-bottom: 2px solid #00c4e2;
  border-left: 2px solid #00c4e2;
  bottom: 2px;
  left: -4px;
}
.region a .fivei {
  width: 30px;
  height: 30px;
  border-bottom: 2px solid #00c4e2;
  border-right: 2px solid #00c4e2;
  bottom: 1px;
  right: 76px;
}
.region a .open_data_cont {
  width: 350px;
  height: 160px;
  padding: 20px;
  box-sizing: border-box;
  background-image: url(../images/Dynamic_map_img/999999999999.png);
  background-repeat: no-repeat;
  background-size: 206% 540%;
  overflow: hidden;
}
.region a .open_data_cont h4 {
  font-weight: 400;
  font-size: 16px;
  height: 33px;
  color: #fff;
}
.region a .open_data_cont p {
  color: #accccc;
  font-size: 12px;
  height: 25px;
}
.region a .open_data_imgr {
  width: 80px;
  height: 60px;
  margin: 50px 0;
  box-sizing: border-box;
  background-image: url(../images/Dynamic_map_img/region_img_left.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
/* 线的定位 */
.map_area1 .open_data1 {
  position: absolute;
  width: 430px;
  height: 160px;
  top: 0px;
  left: 53px;
  display: none;
}
.map_area1 .open_data1 a .onei {
  top: -4px;
  left: 76px;
}
.map_area1 .open_data1 a .twoi {
  top: -4px;
  right: -3px;
}
.map_area1 .open_data1 a .threei {
  bottom: 1px;
  left: 76px;
}
.map_area1 .open_data1 a .fivei {
  top: 57px;
  right: -3px;
}
.open_data2 {
  position: absolute;
  width: 430px;
  height: 160px;
  top: 3px;
  left: 53px;
  display: none;
}
.open_data2 a .onei {
  top: -4px;
  left: 76px;
}
.open_data2 a .twoi {
  top: -4px;
  right: -3px;
}
.open_data2 a .threei {
  bottom: 1px;
  left: 76px;
}
.open_data2 a .fivei {
  top: 57px;
  right: -3px;
}
.open_data3 {
  position: absolute;
  width: 430px;
  height: 160px;
  top: -57px;
  left: -383px;
  display: none;
}
.open_data4 {
  position: absolute;
  width: 430px;
  height: 160px;
  top: -57px;
  left: -383px;
  display: none;
}
.open_data4 a .onei {
  top: -4px;
  left: -4px;
}
.open_data4 a .twoi {
  top: -4px;
  right: 77px;
}
.open_data4 a .threei {
  bottom: 1px;
  left: -4px;
}
.open_data4 a .fivei {
  top: 57px;
  right: 77px;
}
.open_data5 {
  position: absolute;
  width: 430px;
  height: 160px;
  top: -57px;
  left: -383px;
  display: none;
}
.open_data6 {
  position: absolute;
  width: 430px;
  height: 160px;
  top: -57px;
  left: -383px;
  display: none;
}
.open_data7 {
  position: absolute;
  width: 430px;
  height: 160px;
  top: -57px;
  left: -383px;
  display: none;
}
.open_data8 {
  position: absolute;
  width: 430px;
  height: 160px;
  top: -57px;
  left: -383px;
  display: none;
}
.open_data9 {
  position: absolute;
  width: 430px;
  height: 160px;
  top: -57px;
  left: -383px;
  display: none;
}
.open_data10 {
  position: absolute;
  width: 430px;
  height: 160px;
  top: -57px;
  left: -383px;
  display: none;
}
.open_data11 {
  position: absolute;
  width: 430px;
  height: 160px;
  top: -57px;
  left: -383px;
  display: none;
}
.open_data12 {
  position: absolute;
  width: 430px;
  height: 160px;
  top: -57px;
  left: -383px;
  display: none;
}
/* 内容部分 */
.dynamic_content {
  width: 100%;
  height: 1784px;
  background-color: #181a19;
}
.dynamic_content h2 {
  font-weight: 400;
  font-size: 24px;
  color: #fff;
  text-align: center;
  height: 100px;
  line-height: 100px;
}
.dynamic_sea {
  width: 100%;
  height: 315px;
}
.dynamic_sea .dynamic_sea_ptp_top {
  width: 590px;
  height: 220px;
}
.dynamic_sea .dynamic_sea_ptp_top img {
  width: 100%;
  height: 100%;
}
.dynamic_sea .dynamic_sea_ptp_btm {
  width: 590px;
  height: 65px;
  line-height: 65px;
}
.dynamic_sea .dynamic_sea_ptp_btm a {
  display: block;
  height: 65px;
  line-height: 65px;
  font-size: 12px;
  color: #fff;
}
.dynamic_sea .dynamic_sea_ptp_btm a:hover {
  color: #159eef;
}
.dynamic_sea .dynamic_sea_pto_left {
  width: 590px;
  height: 290px;
}
.dynamic_sea .dynamic_sea_pto_rigjt {
  width: 590px;
  height: 290px;
}
/* TAB 切换 */
.dynamic_map_tab {
  overflow: hidden;
}
.dynamic_map_tab .dynamic_map_tab_title {
  width: 600px;
  height: 50px;
  line-height: 50px;
  margin: 0 auto;
  text-align: center;
}
.dynamic_map_tab .dynamic_map_tab_title li {
  float: left;
  height: 50px;
  line-height: 50px;
  margin: 0 20px;
  border-bottom: 4px solid transparent;
  color: #fff;
  font-size: 16px;
  box-sizing: border-box;
  cursor: pointer;
}
.dynamic_map_tab .dynamic_map_tab_title li:hover {
  color: #00c1de;
  border-bottom: 4px solid #00c1de;
}
.dynamic_map_tab .dynamic_map_tab_cont {
  position: relative;
  box-sizing: border-box;
  margin: 40px 0;
}
/* TAB 切换内容 */
.dynamic_map_tab_cont {
  display: flex;
  width: 800%;
}
.dynamic_map_tab_cont ul {
  width: 12.5%;
}
.dynamic_map_tab_cont ul li {
  float: left;
  width: 20%;
  text-align: center;
  height: 420px;
  background-color: #555756 ;
}
.dynamic_map_tab_cont ul li .dytab_top {
  width: 100%;
  height: 145px;
  padding-top: 35px;
  background-color: #2f3130;
  text-align: center;
  box-sizing: border-box;
}
.dynamic_map_tab_cont ul li .dytab_top img {
  width: 50px;
  height: 45px;
  margin-bottom: 10px;
}
.dynamic_map_tab_cont ul li .dytab_top p {
  font-size: 16px;
  color: #fff;
}
.dynamic_map_tab_cont ul li .dytab_btm {
  width: 100%;
  height: 250px;
  background-color: #555756;
  text-align: center;
  padding-top: 30px;
  box-sizing: border-box;
}
.dynamic_map_tab_cont ul li .dytab_btm p {
  font-size: 12px;
  color: #fff;
  height: 40px;
  cursor: pointer;
}
.dynamic_map_tab_cont ul li .dytab_btm p:hover {
  color: #00c1de;
  text-decoration: underline;
}
.dynamic_map_tab_cont ul .tab_big .dytab_top {
  width: 100%;
  height: 155px;
  background-image: url(../images/Dynamic_map_img/golbal_customers7.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.dynamic_map_tab_cont ul .tab_big .dytab_btm {
  width: 100%;
  height: 265px;
  background-color: #fff;
}
.dynamic_map_tab_cont ul .tab_big .dytab_btm p {
  color: #666666;
}
.golbal_intercept {
  width: 100%;
  height: 705px;
}
.golbal_customers li {
  position: relative;
  float: left;
  width: 224px;
  height: 120px;
  margin-right: 18px;
  overflow: hidden;
}
.golbal_customers li img {
  width: 100%;
}
.golbal_customers li .golbal_btm {
  top: 120px;
  position: absolute;
  width: 224px;
  height: 120px;
  padding: 18px;
  box-sizing: border-box;
  background-image: url(../images/Dynamic_map_img/golbal_customers7.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.golbal_customers li .golbal_btm h5 {
  font-weight: 400;
  font-size: 14px;
  color: #fff;
  height: 25px;
}
.golbal_customers li .golbal_btm p {
  font-size: 12px;
  color: #fff;
  height: 25px;
}
.golbal_customers li:nth-child(5) {
  margin-right: 0;
}
.common_problem li {
  float: left;
  width: 33%;
}
.common_problem li a {
  display: block;
  height: 36px;
  line-height: 36px;
  font-size: 14px;
  color: #0d94ca;
}
.common_problem li a:hover {
  text-decoration: underline;
}
/* 全球上云，快速入口 */
.global_service ul {
  display: flex;
  height: 35px;
}
.global_service ul .global_servicetit {
  color: #fff;
  font-size: 14px;
}
.global_service ul li {
  width: 170px;
  height: 35px;
  color: #999999;
  cursor: pointer;
}
.global_service ul li span {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 1px solid #02b1cb;
  margin-right: 10px;
}
.global_service ul li:hover {
  text-decoration: underline;
  color: #02b1cb;
}
/* 阿里云全球数据中心 */
.global_data_center {
  width: 100%;
  background: linear-gradient(to right, #169bf1 0, #00c1de 100%);
}
.global_data_center .wprrr {
  width: 100%;
  height: 150px;
  text-align: center;
  background: url(../images/Dynamic_map_img/global_data_center.png) center center no-repeat;
  padding-top: 55px;
  box-sizing: border-box;
}
.global_data_center .wprrr .wprrr_content {
  margin: 0 auto;
  width: 232px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  font-size: 16px;
  border: 1px solid #fff;
  cursor: pointer;
}
.global_data_center .wprrr .wprrr_content:hover {
  background-color: #fff;
  color: #0ab0e7;
}
/* 底部 */
/* 网页底部 */
footer {
  width: 100%;
  padding: 30px 0 20px 0;
  background-color: #373d41;
}
footer .footers {
  width: 100%;
}
footer .footers .footers-left {
  width: 25%;
  height: 280px;
  color: #fff;
  border-right: 1px solid #474c50;
}
footer .footers .footers-left .consult {
  width: 30%;
  font-size: 40px;
  padding-left: 20px;
  box-sizing: border-box;
}
footer .footers .footers-left ul {
  width: 70%;
}
footer .footers .footers-left ul li {
  padding: 5px 0;
}
footer .footers .footers-left ul li a {
  color: #fff;
}
footer .footers .footers-left ul .lia a {
  font-size: 14px;
  color: #7d8083;
}
footer .footers .footers-right {
  width: 70%;
  padding-left: 120px;
  box-sizing: border-box;
  color: #fff;
}
footer .footers .footers-right dl {
  width: 20%;
  float: left;
  padding: 0 30px;
  box-sizing: border-box;
}
footer .footers .footers-right dt {
  padding-bottom: 12px;
}
footer .footers .footers-right dt a {
  color: #d7d8d9;
}
footer .footers .footers-right dd {
  font-size: 12px;
}
footer .footers .footers-right dd a {
  color: #9b9ea0;
}
footer .footers .footers-right dd img {
  width: 80px;
}
footer .footers .footers-right dd:nth-child(odd) {
  padding: 10px 0;
}
footer .related {
  width: 100%;
  margin-top: 20px;
  padding: 20px 0;
  border-top: 1px solid #474c50;
  border-bottom: 1px solid #474c50;
}
footer .related .related-one {
  width: 100%;
}
footer .related .related-one:nth-child(2) {
  padding: 6px 0;
}
footer .related h4 {
  width: 10%;
  color: #9b9ea0;
}
footer .related ul {
  width: 90%;
}
footer .related ul li {
  width: 11%;
  font-size: 12px;
  float: left;
  color: #73777a;
}
footer .policy {
  width: 100%;
  padding: 35px 0 55px 0;
}
footer .policy ul {
  width: 100%;
}
footer .policy ul li {
  float: left;
  padding-right: 35px;
  color: #73777a;
  font-size: 16px;
}
footer .Youshang {
  width: 100%;
}
footer .Youshang ul {
  width: 100%;
}
footer .Youshang ul li {
  float: left;
  padding: 5px 15px 0 0;
  color: #73777a;
  font-size: 14px;
}
footer .copyright {
  width: 100%;
  padding: 20px 0;
}
footer .copyright img {
  float: left;
  width: 20px;
}
footer .copyright p:nth-child(1) {
  padding-bottom: 6px;
}
footer .copyright p {
  color: #73777a;
}
